playwright
pytest
pytest-playwright
langgraph
allure-pytest
langchain
langchain-community
ollama
langchain-ollama
google-generativeai
langchain-google
dotenv
agentql
google-genai
langchain-google-genai
